<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Factory | Home</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <section>
        <nav>
            <h2>Job Factory</h2>
            <ul class="left">
                <li><a href="/employerHome">Profile</a></li>
                <li><a class="active" href="/myJobs">My Jobs</a></li>
                <li><a href="/addJob">Add Job</a></li>
                <li><a href="/updateEmployer">Edit Profile</a></li>
            </ul>
        </nav>
    </section>

    <section>
        <div class="header">
            <h1>My Jobs</h1>
        </div>
    </section>

    <section>
        <div class="job-cards-containers" id="job">
            <div class="job-card" >
                <% for (var i = 0; i <job.length; i++) {        %> 
                    <p> <b>  Company name: </b><%= job[i].company_id %> </p>
                    <br>
                    <p> <b>Position:</b> <%= job[i].position %> </p> 
                    <br>
                    <p> <b> Degrees:</b> <%= job[i].degrees %> </p> 
                    <br>
                    <p> <b> Passout years:</b>  <%= job[i].batches %> </p> 
                    <br>
                    <p> <b> Required CPI out of 10: </b> <%= job[i].req_cpi %> </p> 
                    <br>
                    <p> <b>CTC: </b> <%= job[i].ctc %> </p> 
                    <br>
                    <p> <b> Locations:</b> <%= job[i].locations %> </p> 
                    <br>
                    <p> <b> Job apply URL: </b> <a id="link" href="<%= job[i].apply %>">Click here </a> %> </p>
                    <br>
                    <button type="submit" id="edit"> <img src="/img/pen.png" style="height:30px" alt=""></button>
                    <button type="submit" id="delete"> <img src="/img/delete.png" style="height:30px" alt=""></button>
                    <br>
                    <br>
                    <hr>
                    <br>
                    <% } %> 
                    
            </div>

        </div>
    </section>

    <footer>
        <div class="copyright">
            <p>&copy; 2023, <a href="#">Devarsh Nagrecha</a> - Job Portal</p>
        </div>
    </footer>
    <script src="./allJobs.js"></script>
</body>

</html>